body{
	width:1024px;
	background-image: url("the.jpg");
	background-position: sticky;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration:underline;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

h1{
	font-weight:underline,bold;
	text-align:center;
	font-size: 22pt;
}

h2	{
	text-align:left;
	font-size: 18pt;
}

p{
	background-color:white;
	font-size:11;
	font-family:Georgia,Garamond;
	color:#404040;
}

a{
	color:#A4A400;
}

a:visited{
	color:#A4A400;
}

img.imm{
     display: block;
	 margin-left: auto;
}

li.tooltip {
	position: relative;
}

li.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
}

.color{
	background-color:#F0F0F0;
}

li.tooltip:hover .tooltiptext {
    visibility: visible;
}
